body{
    font-family: 'Poppins', sans-serif;
    
    margin: 0;
}
.banner-area{
    display: flex;
    padding: 82px 42px 0px 100px;
    margin-bottom: 100px;
}
.banner-left{
    width: 60%;  
}
.banner-left h1{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 60px;
    line-height: 130%;
    letter-spacing: -0.02em;
    width: 600px;
    padding-top: 80px;
}
.banner-left p{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    width: 499px;
    letter-spacing: -0.02em;
    color: #828282;
    margin-bottom: 50px;
}
.order-btn{
    text-decoration: none;
    padding: 24px 32px;
    width: 192px;
    height: 68px;
    color: #fff;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
}
.banner-right{
    width: 40%;
}
.banner-right img{
    width: 80%;
}
.sweet-color{
    color: tomato;
}
.about-area{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.about-left{
    width: 70%;
}
.about-left img{
    width: 40%;
    padding-left: 200px;
    padding-top: 30px;
}
.about-right{
    width: 30%;
    margin: 127px 165px 227px 0px;
    padding: 20px;
}
.about-right h1{
    font-size: 24px;
    color: #828282;
}
.about-right p{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
    width: 444px;
    padding-bottom: 90px;
}
.recipies-area{
    padding: 72px 100px 129px;
}

.recipis-content{
    text-align: center;
    width: 706px;
    margin: auto;
    margin-bottom: 40px;
}
.recipis-content h1{
    color: #676767;

}
.recipis-content p{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #252525;
    
}

















.banner-area3{
    margin-bottom: 150px;
    margin: 0px 100px 150px;
}
.my-recipis{
    display: flex;
}
.my-recipis-content{
    text-align: center;
}
.one{
    width: 33.34%;
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 10px;
    margin: 0px 58px 0px 0px;
    padding: 20px;
}
.one img{
    width: 100%;
}

.coundown{
    display: flex;
    padding: 64px 165px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.two{
    width: 33.34%;
    text-align: center;
}
footer{
    background: #000;
    text-align: center;
    padding: 50px 0px 150px 0px;
}
footer h1{
  color: white;
}
footer p{
    color: white;
  }